spark/tar/hadoop-3.4.3.tar.gz
metadata/ivy/**
metadata/uc/**
workspace/data/**
!workspace/data/gutenberg_books/
!workspace/data/gutenberg_books/**

# Postgres
metadata/postgres/**

# Dagster Execution Artifacts & DBs
workspace/dagster/__pycache__/
workspace/dagster/history/
workspace/dagster/storage/
workspace/dagster/logs/
workspace/dagster/.telemetry/
workspace/dagster/.nux/
